/* footer.css (CSS file) */

html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 100px;
    background-color: #000;
    color: #ffbd59;
    padding: 5px; /* Reduced padding to make the footer smaller */
    display: flex;
    justify-content: center; /* Centering content in both columns */
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
}

.company-column {
    flex-basis: 100%; /* Full width for the right column */
}

.company-name {
    margin: 0;
    font-size: 1.5rem; /* Reduced font size */
}

.tagline {
    color: #ffffff;
    margin: 0 0 10px 0; /* Adjusted margin */
    font-size: 0.8rem; /* Reduced font size */
    color: #ffbd59;
}

.icon-row {
    display: flex;
    justify-content: center;
    margin-top: 5px; /* Reduced margin */
}

.icon-row a i {
    margin: 0 15px; /* Reduced margin */
    font-size: 20px; /* Reduced icon size */
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.title {
    font-weight: 1000;
    font-size: 3rem;
}

.sub-title {
    font-size: 1rem;
    color: #ffbd59;
}

.sub-content {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1rem;
    color: #ffffff;
}

.gold {
    color: #ffbd59;
}

.white, .text-center {
    color: #ffffff;
}
