nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    /* margin-top: 100px; */
    background-color: #222222;
    position: fixed;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav.gradient-bg {
    background: linear-gradient(to right, #222222, #333333);
}

.logo {
    width:75px;
}

.navbar-nav .nav-item .nav-link {
    color: white;

}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffbd59;
}

