body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg2.jpg');
    background-repeat: repeat;
}

.box {
    width: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 rgba(170, 163, 163, 0.37);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(4px);

}

.suggest {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: -1px;
    border-radius: 5px;
}

label {
    font-weight: 700;
}