* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../../assets/img/bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    margin-top: 500px;
    flex: 1;
}

.title {
    font-weight: 1000;
    font-size: 3rem;
}

.sub-title {
    font-size: 0.8rem;
    color: black;
}

.ps-3 {
    text-align: justify;
    margin-left: 70px;
    margin-right: 50px;
}

.mb-0 {
    font-weight: bolder;
    color: #ffbd59;
}

.login-here {
    font-size: 0.9rem;
    font-family: system-ui;
    font-weight: bold;
    color: rgb(34, 33, 33);
}

.px-5 {
    max-width: 500px;
    margin: 60px auto;
    padding: 40px;
    background: #ffffff26;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.hove {
    color: #ffffff;
    text-decoration: none;
}

.hove:hover {
    color: #ffbd59;
    text-decoration: none;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.gold {
    color: #ffbd59;
}

.white {
    color: #ffffff;
}

.custom-btn {
    background-color: #ffbd59;
    color: black;
    font-weight: bold;
    width: 100%;
    display: block;
    margin: auto;
    transition: background-color 0.3s;
    border-radius: 7px;
    font-size: 1.1rem;
    padding: 5px;
}

.custom-btn:hover {
    background-color: #d9a500;
}
